.freelancers {
  &-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  &-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

}

.freelancer {
  .box-profile {
    .level {
      font-size: 32px;
    }
  }
  .img-object-fit {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.freelancer-edit {
  .box-profile {
    .level {
      font-size: 32px;
    }
  }
}

#infoInput {
  min-height: 40px;
}

